@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizBytes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizBytesWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-orange border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-custombrand" asp-area="" asp-controller="Home" asp-action="Index">QuizBytes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    
                        <li class="nav-customitem">
                            <a class="nav-item-style" asp-area="" asp-controller="Quiz" asp-action="Start">Quiz</a>
                        </li>
                        <li class="nav-customitem">
                            <a class="nav-item-style" asp-area="" asp-controller="Challenge" asp-action="Register">King of the Heap</a>
                        </li>
                        <li class="nav-customitem">
                            <a class="nav-item-style" asp-area="" asp-controller="Leaderboard" asp-action="Display">Leaderboard</a>
                        </li>
                        <li class="nav-customitem">
                            @if (!Context.User.Identity.IsAuthenticated)
                            {
                            <a class="nav-item-style btn-right" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            }
                        </li>
                        
                        <li class="nav-customitem">
                           @if (Context.User.Identity.IsAuthenticated)
                            {
                                <a class="nav-item-style btn-right" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                            }
                            else
                            {
                                <a class="nav-item-style logged-in" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                            }

                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                <a class="nav-item-style" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                            }
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                <span class="nav-item-style logged-in">
                                    Logged in as
                                    @Context.User.Claims.FirstOrDefault((claim)=> claim.Type == "username")?.Value
                                    @*(id:@Context.User.Claims.FirstOrDefault((claim)=> claim.Type == "id")?.Value)*@
                                </span>
                            }
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br />
                        <br />
                        <br />
    <div class="container">
        <span>@TempData["Message"]</span>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
