/*this is the style sheet for the page elements while the other one(QuizViewStyleSheet) is for the navbar
    and body. In here I will style the containers for the Courses,Subjects and Chapters that will be displayed after 
    one of them is selected in the side-navbar
*/

body{
    overflow-y:scroll;
}
.page-elements-wrapper{
    position:fixed;
    margin-left: 7vw;
    margin-top: 15vh;
    border-block-color:limegreen;
    align-items:center;
    background-color:orange;
}
.element{
    margin-left: 2vw;
}

.div-border{
    border:2px solid limegreen;
    box-shadow: darkgreen 10px inset;
}

.chapters {
    width: 18vw !important;
    margin-block: 50px;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
