html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*navbar*/

.bg-orange {
    background-color: #ff9900;
}

.navbar-custombrand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-light .navbar-custombrand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-custombrand:hover, .navbar-light .navbar-custombrand:focus {
        color: rgba(0, 0, 0, 0.9);
    }

.nav-tabs .nav-link.active,
.nav-tabs .nav-customitem.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-item-style {
    color: black ;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
}
.logged-in{
    position:absolute;
    right:8vw;
    top:1.3vh;
}
.btn-right {
    position: absolute;
    right: 0vw;
    top: 1.3vh;
}
.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.home-image-header00{
    position:absolute;
    top:14vh;
    left:11vw;
}
.home-image-text00{
    position:absolute;
    top:23vh;
    left:12vw;
    max-width:20vw;
}

.home-image-header01 {
    position: absolute;
    top: 55vh;
    right: 16vw;
}

.home-image-text01 {
    position: absolute;
    top: 64vh;
    right: 12vw;
    max-width: 20vw;
}
.home-image-header10 {
    position: absolute;
    top: 96vh;
    left: 24vw;
}

.home-image-text10 {
    position: absolute;
    top: 105vh;
    left: 12vw;
    max-width: 20vw;
}

.home-image-header11 {
    position: absolute;
    top: 137vh;
    right: 25vw;
}

.home-image-text11 {
    position: absolute;
    top: 146vh;
    right: 14vw;
    max-width: 20vw;
}