html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*navbar*/

.bg-orange {
    background-color: #ff9900;
}

.navbar-custombrand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-light .navbar-custombrand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-custombrand:hover, .navbar-light .navbar-custombrand:focus {
        color: rgba(0, 0, 0, 0.9);
    }

.nav-tabs .nav-link.active,
.nav-tabs .nav-customitem.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-item-style {
    color: black ;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600
}

.logged-in{
    position:absolute;
    right:8vw;
    top:1.3vh;
}
.btn-right {
    position: absolute;
    right: 0vw;
    top: 1.3vh;
}