@{
    ViewData["Title"] = "Current Challenges";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">ChallengeView</h1>
    <p>Current available Challenges:</p>
</div>