@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="image-contaiter">
    <img class="image" src="~/resources/QuizBytes home page image.png"/>

</div>
<div class="first-item">
    <article>
        <h1 class="item-header">lorem ipsum</h1>
    </article>
</div>
