@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<div>
    <img class="home-image" src="~/resources/QuizBytes home page image.png"/>
    <article>
        <h1 class="home-image-header00">Complete Quizzes</h1>
        <p class="home-image-text00">
            Are you looking for epic adventures such as slaying dragons, finding large amounts of loot and getting the girl? 
            Then this is not the place for you! What you can do here though, is getting better at programming. How? 
            By completing quizzes from a wide variety of questions carefully selected by our team from various 
            programming related subjects.
        </p>
    </article>
    <article>
        <h1 class="home-image-header01">Get Bytecoins</h1>
        <p class="home-image-text01">
            There might be loot for you at the end of a quiz, so try your best to get the answers right. 
            We also have a special challenge every day but the spots are limited so hurry up and complete 
            the daily challenge!

        </p>
    </article>
    <article>
        <h1 class="home-image-header10">??? </h1>
        <p class="home-image-text10">
            0011101001011101001011010100101001010
            0101010010100101010101001000001011101
            001011001010001110010110100010101001
            01001010101010101001010010010101111000
            0110010101110100010010101001111000100
            0101010010100101010100101010100101010
            100101010100101010010101010010101001
            01010111100100001010101010100011010010
            0101001010010101010111100101
        </p>
    </article>
    <article>
        <h1 class="home-image-header11">Profit</h1>
        <p class="home-image-text11">
            <ul class="home-image-text11">TL:DR
                <li>
                    1.Register
                </li>
                <li>
                    2. Complete quizzes and challenges
                </li>
                <li>
                    3. Get Bytecoins
                </li>
                <li>
                    4. Spend Bytecoins on unlocking more quizzes
                </li>
                <li>5. Repeat

                </li>
            </ul>
        </p>
    </article>

</div>
