
@{
    ViewData["Title"] = "Refuse";
}


<h2>Because there's a limited amount of spots in the challenge, you cannot register for it again until tomorrow. Please visit our <a class="nav-item-style" asp-area="" asp-controller="Quiz" asp-action="Start">Quiz</a> page for more fun!</h2>

