<link rel="stylesheet" href="~/css/ChallengeQuizStyleSheet.css" />
<div class="wrapper">
<div class="quiz">
<div class="quiz-body">
    <div id="quiz-questions">
        <p id="error-message"></p>
    </div>
    </div>
</div>
</div>

<button class="btn-next" onclick="next()">Next</button>
<script src ="~/lib/jquery/dist/jquery.js"></script>
@*<script src="~/js/ChallengeQuizLogic.js"></script>*@

<script>

    let questionCount = 0;
    let questions= []; 
    let unfoldedQuestions = [];
    let answers= [];
    let correctAnswers = 0;
window.onload = () => {

    $.ajax({
        url: "@Url.Action("Quiz")",
        type: 'GET',
        dataType: "json",
        success: function (result) {
            for(let question of Object.values(result)){
                    questions.push(question);
            }
        
            for(let array of questions){
                for(let question of array){
                unfoldedQuestions.push(question);
                }
            }            
            show(questionCount);
        }

    }) 

}// onload

    function next() {
        if (questionCount == unfoldedQuestions.length - 1) {
            location.href = "../Leaderboard/Display"
        }

        let userAnswer = $(".active").text();
        console.log(userAnswer);
        console.log(answers.lenght);
        console.log(answers);
        var finalAnswer;
        for(var i =0; i<answers.length; i++){
            if(userAnswer == answers[i].answerText){
                console.log(answers[i].isCorrect)
                finalAnswer = answers[i];
                console.log(finalAnswer);
            }
        }
        if(finalAnswer.isCorrect = "Yes"){
            correctAnswers++;
            console.log(correctAnswers);
            sessionStorage.setItem("Correct Answers:", correctAnswers)
        }
        questionCount++;
        show(questionCount);

    }

    function show(count) {
        answers = [];
        let questionIndex = 0;
        let question = document.getElementById("quiz-questions");
        question.innerHTML = `<h2 class ="question-text">Q${questionCount + 1}. ${unfoldedQuestions[questionCount].question.questionText}</h2>`
        let ul = document.createElement("ul");
        ul.setAttribute("class", "question-options");
        question.appendChild(ul);

        for (let answer of unfoldedQuestions[questionCount].answers) {
            var li = document.createElement("li");
            li.setAttribute("class", "option");
            li.appendChild(document.createTextNode(answer.answerText));
            ul.appendChild(li);
            answers.push(answer);
            toggleActive();
        }
    }
    function toggleActive() {
        let option = document.querySelectorAll("li.option");
        for (let i = 0; i < option.length; i++) {
            option[i].onclick = function () {
                for (let i = 0; i < option.length; i++) {
                    if (option[i].classList.contains("active")) {
                        option[i].classList.remove("active");
                    }
                }
                option[i].classList.add("active");
            }
        }
    }

</script>