@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<html>
    <head>
    <meta charset="UTF-8" />
    <title> Login Page </title>
    <link rel="stylesheet" href="~/css/LoginViewStyleSheet.css" />
</head>

<body>
    <h2>Login Page</h2>
    <br>
    <div class="login">
        <form id="login" method="get" action="login.php">
            <label>
                <b>Username </b>
            </label>
            <input type="text" name="Username" id="Username" placeholder="Username">
            <br><br>
            <label>
                <b> Password </b>
            </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <Button class="button" asp-controller="Home" asp-action="Index"><span>Login</span></Button>
            <br><br>
          <a href="#">  Forgot Password?</a>
        </form>
    </div>
</body>
</html>