
@{
    ViewData["Title"] = "Start";
}
<link rel="stylesheet" href="~/css/QuizViewStyleSheet.css" />
<div class="left">
    <div class="side-navbar">
        <div class="item">
            <a class="submenu-btn" onclick="expand()">Courses</a>
            <div id="submenu">
                
            </div>
            </div>
        <div class="item">
            <a class ="submenu-btn">Subjects</a>
            <div id="submenu">
                
            </div>
            </div>
        <div class="item">

            <a class="submenu-btn">Chapters</a>
            <div id="submenu">

            </div>
            </div>
    </div>

</div>

<script src="~/js/QuizViewLogic.js"></script>