@{
    ViewData["Title"] = "Leaderboard";
}
@model QuizBytesWebsite.Models.LeaderboardModel

<link rel="stylesheet" href="~/css/LeaderboardViewStyleSheet.css" />
<h1>Leaderboard</h1>
<p1>Highest latest challenge scores:</p1>
<div id="leaderboard">
    @foreach(var user in Model.Leaderboard){

    <div class="row">
            <div class="name">@user.Username</div><div class="score">@user.Points</div><div class="time">@user.ElapsedTime</div>
    </div>
    }
    </div>
<div id="leaderboard">
    <p1>Best Classic Quiz Players:</p1>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>