@{
    ViewData["Title"] = "Leaderboard";
}
<link rel="stylesheet" href="~/css/LeaderboardViewStyleSheet.css" />
<h1>Leaderboard</h1>
<p1>Best overall players:</p1>
<div id="leaderboard">
    <div class="row">
        <div class="name">Player1</div><div class="score">430</div>
    </div>

    <div class="row">
        <div class="name">Player2</div><div class="score">580</div>
    </div>

    <div class="row">
        <div class="name">Player3</div><div class="score">310</div>
    </div>

    <div class="row">
        <div class="name">Player4</div><div class="score">640</div>
    </div>

    <div class="row">
        <div class="name">Player5</div><div class="score">495</div>
    </div>
</div>
<div id="leaderboard">
    <p1>Highest latest challenge scores:</p1>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/LeaderboardSortingByScore.js"></script>